<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Institute Of Commerce Studies</title>

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="https://www.pngplay.com/wp-content/uploads/6/Exam-Logo-Background-PNG-Image.png"
      type="image/x-icon"
    />

    <!-- Bootstrap CSS Link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />

    <!-- Custom CSS link -->
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/media.css" />
  </head>

  <body>

    <!-- LOGO & NAVIGATION -->
    <header class="header">
      <div class="logo">
        <a href="/" style="text-transform: uppercase;">
          <img
            src="https://www.pngplay.com/wp-content/uploads/6/Exam-Logo-Background-PNG-Image.png"
            alt="logo"
            class="logoImg"
          />
          Institute Of Commerce Studies
        </a>
      </div>

      <nav class="nav">
        <ul class="nav_links">
          <li class="nav_link"><a href="/">Home</a></li>
          <li class="nav_link"><a href="/exam">Exam</a></li>
          <li class="nav_link"><a href="/about">About Us</a></li>
          <li class="nav_link"><a href="/services">Services</a></li>
          <li class="nav_link"><a href="/contact">Contact</a></li>
        </ul>
      </nav>

      <div class="burger">
        <div class="line line--1"></div>
        <div class="line line--2"></div>
        <div class="line line--3"></div>
      </div>
    </header>

    <!-- ABOUT SECTION -->

    <section class="about__section">
      <div class="container">
        <div class="row">
          <div
            class="col col-sm-12 col-md-12 col-lg-12 col-xl-6 mx-auto about__section__col__1"
          >
            <div>
              <h2>Inspired By Excellence & Innovation</h2>
              <h3>“We Develop Smarter Brains”</h3>
            </div>
            <p><strong>INSTITUTE OF COMMERCE STUDIES</strong>
              is an endeavour aimed to help the students of Senior Secondary
              Graduation and Professional Courses of Commerce, to get advanced
              and personalised coaching from acclaimed faculties. Since our
              inception in 2011, we are bringing heights to the careers of many
              students. Thanks to our dedicated and experienced faculties.We
              have a large number of satisfied students at various levels of
              Professional Courses and at level of Graduation and Senior
              Secondary. Every year, a lot of students get enrolled with us and
              gain a quality learning experience. We have been a perennial
              source of motivation for the young aspirants.</p>
            <p>We are located at
              <strong>Surat</strong>
              and within a short span of time we have become the most preferred
              destination of a Commerce Student who dreams of unique learning
              experience and better career.Our faculties are always motivated to
              deliver the students variety of theoretical knowledge combined
              with insights of practical situations so that our student has an
              extra edge in today’s competitive environment. We are committed
              towards delivering superior values and we promise to leave no
              stone unturned in your path to success.
            </p>
          </div>

          <div
            class="col col-sm-12 col-md-12 col-lg-12 col-xl-6 mx-auto about__section__col__2"
          >
            <img
              src="./Images/AboutImg/book.png"
              class="img-fluid"
              alt="Book"
            />
          </div>
        </div>
      </div>
    </section>

    <!-- FOOTER SECTION -->
    <footer class="footer">
      <div class="container">
        <div class="row footerrow">
          <div class="col col-sm-12 col-md-12 col-lg-3 mx-auto footer__col__1">
            <div class="footerMain">
              <img
                src="https://www.pngplay.com/wp-content/uploads/6/Exam-Logo-Background-PNG-Image.png"
                alt="footer logo"
              />
              <h2>ICS</h2>
            </div>
            <p>
              Institute Of Commerce Studies is an effort aimed at helping the
              students of Senior Secondary, Graduation and Professional Courses
              of Commerce.
            </p>
          </div>

          <div class="col col-sm-4 col-md-4 col-lg-3 mx-auto footer__col__2">
            <ul>
              <li><a href="#">Exam Updates</a></li>
              <li><a href="#">Daily updates</a></li>
              <li><a href="#">Commerce</a></li>
              <li><a href="#">Exam Notice</a></li>
              <li><a href="#">CBSE News</a></li>
            </ul>
          </div>

          <div class="col col-sm-12 col-md-12 col-lg-3 mx-auto footer__col__3">
            <ul>
              <li><a href="/about">About Us</a></li>
              <li><a href="/faq">FAQ</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="#">Terms & condition</a></li>
            </ul>
          </div>

        </div>
        <hr />
        <div class="row">
          <p class="footer__lastPara">Copyright © 2021 ICS. All rights reserved
            !</p>
        </div>
      </div>
    </footer>

    <!-- Bootstrap JS LINKS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>

    <!-- IONICON LINKS -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>

    <!-- Custom JS -->
    <script src="./js/script.js"></script>
  </body>

</html>