<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Institute Of Commerce Studies</title>

    <!-- Bootstrap CSS Link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />

    <!-- Custom CSS link -->
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/media.css" />

  </head>

  <body>

    <!-- LOGO & NAVIGATION -->
    <header class="header">
      <div class="logo">
        <a href="/" style="text-transform: uppercase;">
          <img
            src="https://www.pngplay.com/wp-content/uploads/6/Exam-Logo-Background-PNG-Image.png"
            alt="logo"
            class="logoImg"
          />
          Institute Of Commerce Studies
        </a>
      </div>

      <nav class="nav">
        <ul class="nav_links">
          <li class="nav_link"><a href="/">Home</a></li>
          <li class="nav_link"><a href="/exam">Exam</a></li>
          <li class="nav_link"><a href="/about">About Us</a></li>
          <li class="nav_link"><a href="/services">Services</a></li>
          <li class="nav_link"><a href="/contact">Contact</a></li>
        </ul>
      </nav>

      <div class="burger">
        <div class="line line--1"></div>
        <div class="line line--2"></div>
        <div class="line line--3"></div>
      </div>
    </header>

    <section class="section contact___section">
      <div class="container">
        <div class="row">
          <div
            class="col col-sm-12 col-md-12 col-lg-6 mx-auto contact___section__col_1"
          >
            <h2>Send us a message</h2>
            <form action="#" method="POST">
              <div class="form___item__Container">
                <input
                  name="name"
                  type="text"
                  placeholder="Name"
                  class="form__item"
                  required
                />
              </div>

              <div class="form___item__Container">
                <input
                  name="email"
                  type="text"
                  placeholder="Email"
                  class="form__item"
                  required
                />
              </div>

              <div class="form___item__Container">
                <input
                  name="mobile"
                  type="text"
                  placeholder="Mobile"
                  class="form__item"
                  required
                />
              </div>

              <div class="form___item__Container">
                <textarea
                  name="messages"
                  type="text"
                  placeholder="Message"
                  class="form__item_textarea"
                  required
                ></textarea>
              </div>

              <button type="submit" class="contact__Form__Btn">Send Message</button>
            </form>
          </div>

          <div
            class="col col-sm-12 col-md-12 col-lg-6 mx-auto contact___section__col_2"
          >
            <div class="contact___section__col_2__inner">
              <div class="contact__headers">
                <h2>Contact Us</h2>
                <h3>We are open for any suggestions or just to have a chat</h3>
              </div>

              <div class="contact__items">
                <ion-icon
                  name="location-outline"
                  class="contact__Ion_Icon"
                ></ion-icon>
                <div class="contact__items__inner">
                  <h4>Address 1</h4>
                  <p>A21 GREEN PARK SOC., OPP WATER TANK, SURAT , GUJARAT -
                    395009</p>
                  <p>203, PRIYANKA INTERCITY, NEAR PUNA PATIA , SURAT , GUJARAT</p>
                </div>
              </div>

              <div class="contact__items">
                <ion-icon
                  name="call-outline"
                  class="contact__Ion_Icon"
                ></ion-icon>
                <div class="contact__items__inner">
                  <h4>Lets Talk</h4>
                  <p>+91 9714446050, +91 8000064962 </p>
                </div>
              </div>

              <div class="contact__items">
                <ion-icon
                  name="mail-outline"
                  class="contact__Ion_Icon"
                ></ion-icon>
                <div class="contact__items__inner">
                  <h4>General Support</h4>
                  <p>suratics@gmail.com</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- FOOTER SECTION -->
    <footer class="footer">
      <div class="container">
        <div class="row footerrow">
          <div class="col col-sm-12 col-md-12 col-lg-3 mx-auto footer__col__1">
            <div class="footerMain">
              <img
                src="https://www.pngplay.com/wp-content/uploads/6/Exam-Logo-Background-PNG-Image.png"
                alt="footer logo"
              />
              <h2>ICS</h2>
            </div>
            <p>
              Institute Of Commerce Studies is an effort aimed at helping the
              students of Senior Secondary, Graduation and Professional Courses
              of Commerce.
            </p>
          </div>

          <div class="col col-sm-4 col-md-4 col-lg-3 mx-auto footer__col__2">
            <ul>
              <li><a href="#">Exam Updates</a></li>
              <li><a href="#">Daily updates</a></li>
              <li><a href="#">Commerce</a></li>
              <li><a href="#">Exam Notice</a></li>
              <li><a href="#">CBSE News</a></li>
            </ul>
          </div>

          <div class="col col-sm-12 col-md-12 col-lg-3 mx-auto footer__col__3">
            <ul>
              <li><a href="/about">About Us</a></li>
              <li><a href="/faq">FAQ</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="#">Terms & condition</a></li>
            </ul>
          </div>

        </div>
        <hr />
        <div class="row">
          <p class="footer__lastPara">Copyright © 2021 ICS. All rights reserved
            !</p>
        </div>
      </div>
    </footer>

    <!-- Bootstrap JS Link -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>

    <!-- IONICON LINKS -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>

    <!-- Custom JS -->
    <script src="./js/script.js"></script>
  </body>

</html>