<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Institute Of Commerce Studies</title>

    <!-- Bootstrap CSS Link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />

    <!-- Custom CSS link -->
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/media.css" />
  </head>

  <body>

    <!-- LOGO & NAVIGATION -->
    <header class="header">
      <div class="logo">
        <a href="/" style="text-transform: uppercase;">
          <img
            src="https://www.pngplay.com/wp-content/uploads/6/Exam-Logo-Background-PNG-Image.png"
            alt="logo"
            class="logoImg"
          />
          Institute Of Commerce Studies
        </a>
      </div>

      <nav class="nav">
        <ul class="nav_links">
          <li class="nav_link"><a href="/">Home</a></li>
          <li class="nav_link"><a href="/exam">Exam</a></li>
          <li class="nav_link"><a href="/about">About Us</a></li>
          <li class="nav_link"><a href="/services">Services</a></li>
          <li class="nav_link"><a href="/contact">Contact</a></li>
        </ul>
      </nav>

      <div class="burger">
        <div class="line line--1"></div>
        <div class="line line--2"></div>
        <div class="line line--3"></div>
      </div>
    </header>

    <main>
      <section class="section FAQ__section">
        <div class="container">
          <h1>Frequently Asked Questions</h1>
          <div class="row">
            <div
              class="col col-sm-12 col-md-10 col-lg-6 mx-auto FAQ__SECTION__Col_1"
            >
              <ul class="faq--lists">
                <li class="faq-list">
                  <div class="faq--list--visible">
                    <h4>How can i learn</h4>
                    <ion-icon
                      name="chevron-down-outline"
                      class="DOWN___IONICON"
                    ></ion-icon>
                    <!-- <ion-icon name="remove-outline" class="REMOVE__OUTLINE__IONICON"></ion-icon> -->
                  </div>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Corporis saepe quos aliquid itaque illum doloremque numquam
                    omnis iusto consequatur ipsam. Aut illo provident tenetur
                    cum facilis reiciendis sed aperiam inventore?</p>
                </li>

                <li class="faq-list">
                  <div class="faq--list--visible">
                    <h4>How can i give exam</h4>
                    <ion-icon
                      name="chevron-down-outline"
                      class="DOWN___IONICON"
                    ></ion-icon>
                  </div>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Corporis saepe quos aliquid itaque illum doloremque numquam
                    omnis iusto consequatur ipsam. Aut illo provident tenetur
                    cum facilis reiciendis sed aperiam inventore?</p>
                </li>

                <li class="faq-list">
                  <div class="faq--list--visible">
                    <h4>How to see profile</h4>
                    <ion-icon
                      name="chevron-down-outline"
                      class="DOWN___IONICON"
                    ></ion-icon>
                  </div>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Corporis saepe quos aliquid itaque illum doloremque numquam
                    omnis iusto consequatur ipsam. Aut illo provident tenetur
                    cum facilis reiciendis sed aperiam inventore?</p>
                </li>

                <li class="faq-list">
                  <div class="faq--list--visible">
                    <h4>how to be a member</h4>
                    <ion-icon
                      name="chevron-down-outline"
                      class="DOWN___IONICON"
                    ></ion-icon>
                  </div>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Corporis saepe quos aliquid itaque illum doloremque numquam
                    omnis iusto consequatur ipsam. Aut illo provident tenetur
                    cum facilis reiciendis sed aperiam inventore?</p>
                </li>

                <li class="faq-list">
                  <div class="faq--list--visible">
                    <h4>Any random question</h4>
                    <ion-icon
                      name="chevron-down-outline"
                      class="DOWN___IONICON"
                    ></ion-icon>
                  </div>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Corporis saepe quos aliquid itaque illum doloremque numquam
                    omnis iusto consequatur ipsam. Aut illo provident tenetur
                    cum facilis reiciendis sed aperiam inventore?</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- FOOTER SECTION -->
    <footer class="footer">
      <div class="container">
        <div class="row footerrow">
          <div class="col col-sm-12 col-md-12 col-lg-3 mx-auto footer__col__1">
            <div class="footerMain">
              <img
                src="https://www.pngplay.com/wp-content/uploads/6/Exam-Logo-Background-PNG-Image.png"
                alt="footer logo"
              />
              <h2>ICS</h2>
            </div>
            <p>
              Institute Of Commerce Studies is an effort aimed at helping the
              students of Senior Secondary, Graduation and Professional Courses
              of Commerce.
            </p>
          </div>

          <div class="col col-sm-4 col-md-4 col-lg-3 mx-auto footer__col__2">
            <ul>
              <li><a href="#">Exam Updates</a></li>
              <li><a href="#">Daily updates</a></li>
              <li><a href="#">Commerce</a></li>
              <li><a href="#">Exam Notice</a></li>
              <li><a href="#">CBSE News</a></li>
            </ul>
          </div>

          <div class="col col-sm-12 col-md-12 col-lg-3 mx-auto footer__col__3">
            <ul>
              <li><a href="/about">About Us</a></li>
              <li><a href="/faq">FAQ</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="#">Terms & condition</a></li>
            </ul>
          </div>

        </div>
        <hr />
        <div class="row">
          <p class="footer__lastPara">Copyright © 2021 ICS. All rights reserved
            !</p>
        </div>
      </div>
    </footer>

    <!-- Bootstrap JS Link -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>

    <!-- IONICON LINKS -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>

    <!-- Custom JS -->
    <script src="./js/script.js"></script>
    <script src="./js/faq.js"></script>
  </body>

</html>