<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Institute Of Commerce Studies</title>

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="https://www.pngplay.com/wp-content/uploads/6/Exam-Logo-Background-PNG-Image.png"
      type="image/x-icon"
    />

    <!-- Bootstrap CSS Link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />

    <!-- Custom CSS link -->
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/media.css" />
  </head>

  <body>

    <!-- LOGO & NAVIGATION -->
    <header class="header">
      <div class="logo">
        <a href="/home" style="text-transform: uppercase;">
          <img
            src="https://www.pngplay.com/wp-content/uploads/6/Exam-Logo-Background-PNG-Image.png"
            alt="logo"
            class="logoImg"
          />
          Institute Of Commerce Studies
        </a>
      </div>

      <nav class="nav">
        <ul class="nav_links">
          <li class="nav_link"><a href="/home">Home</a></li>
          <li class="nav_link"><a href="/exam">Exam</a></li>
          <li class="nav_link"><a href="/about">About Us</a></li>
          <li class="nav_link"><a href="/services">Services</a></li>
          <li class="nav_link"><a href="/contact">Contact</a></li>
        </ul>
      </nav>

      <div class="burger">
        <div class="line line--1"></div>
        <div class="line line--2"></div>
        <div class="line line--3"></div>
      </div>
    </header>

    <!-- SERVICE SECTION -->
    <section class="service__section_1">
      <div class="container">
        <h1 class="heading____main">Our Services</h1>
        <div class="row hyperRow">
          <div
            class="col-10 col-sm-10 col-md-5 col-lg-3 col-xl-3 mx-auto service__Cards"
          >
            <div class="Card__IconsDiv">
              <ion-icon
                class="ion_serviceIcon"
                name="trophy-outline"
              ></ion-icon>
            </div>
            <h3>SECONDARY COURSES</h3>
            <p>At ICS, we provide the students a base for their higher studies
              and prepare them for their 9th and 10th classes.</p>
          </div>
          <div
            class="col-10 col-sm-10 col-md-5 col-lg-3 col-xl-3 mx-auto service__Cards"
          >
            <div class="Card__IconsDiv">
              <ion-icon
                class="ion_serviceIcon"
                name="school-outline"
              ></ion-icon>
            </div>
            <h3>HIGHER SECONDARY COURSES</h3>
            <p>After having cleared your 10th board, the next step is to choose
              your interested subject. We also provide coaching for 11th & 12th
              classes. in Commerce field.</p>
          </div>
          <div
            class="col-10 col-sm-10 col-md-5 col-lg-3 col-xl-3 mx-auto service__Cards"
          >
            <div class="Card__IconsDiv">
              <ion-icon
                class="ion_serviceIcon"
                name="accessibility-outline"
              ></ion-icon>
            </div>
            <h3>PROFESSIONAL COURSES</h3>
            <p>We provide coaching for professional courses like CA and ACCA,
              covering all the levels and modules along with preparation of
              their foundation exams.</p>
          </div>
        </div>
        <div class="row">
          <div
            class="col-10 col-sm-10 col-md-5 col-lg-3 col-xl-3 mx-auto service__Cards"
          >
            <div class="Card__IconsDiv">
              <ion-icon class="ion_serviceIcon" name="book-outline"></ion-icon>
            </div>
            <h3>ONLINE COURSES</h3>
            <p>As for being technologically updated, we have also made available
              Online notes and test series for interested students.</p>
          </div>
          <div
            class="col-10 col-sm-10 col-md-5 col-lg-3 col-xl-3 mx-auto service__Cards"
          >
            <div class="Card__IconsDiv">
              <ion-icon class="ion_serviceIcon" name="bulb-outline"></ion-icon>
            </div>
            <h3>CAREER CONSELINGS</h3>
            <p>We are there always for the students to help them to grow in
              their carrier we provide them a lot of successful road maps and we
              also guide a student so that he/she can acheive a lot in life.
            </p>
          </div>
          <div
            class="col-10 col-sm-10 col-md-5 col-lg-3 col-xl-3 mx-auto service__Cards"
          >
            <div class="Card__IconsDiv">
              <ion-icon
                class="ion_serviceIcon"
                name="person-add-outline"
              ></ion-icon>
            </div>
            <h3>NIOS ADMISSIONS</h3>
            <p>We can help you in taking the admissions at National Institute of
              Open Schooling which is the best Institute for schooling.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- FOOTER SECTION -->
    <footer class="footer">
      <div class="container">
        <div class="row footerrow">
          <div class="col col-sm-12 col-md-12 col-lg-3 mx-auto footer__col__1">
            <div class="footerMain">
              <img
                src="https://www.pngplay.com/wp-content/uploads/6/Exam-Logo-Background-PNG-Image.png"
                alt="footer logo"
              />
              <h2>ICS</h2>
            </div>
            <p>
              Institute Of Commerce Studies is an effort aimed at helping the
              students of Senior Secondary, Graduation and Professional Courses
              of Commerce.
            </p>
          </div>

          <div class="col col-sm-4 col-md-4 col-lg-3 mx-auto footer__col__2">
            <ul>
              <li><a href="#">Exam Updates</a></li>
              <li><a href="#">Daily updates</a></li>
              <li><a href="#">Commerce</a></li>
              <li><a href="#">Exam Notice</a></li>
              <li><a href="#">CBSE News</a></li>
            </ul>
          </div>

          <div class="col col-sm-12 col-md-12 col-lg-3 mx-auto footer__col__3">
            <ul>
              <li><a href="/about">About Us</a></li>
              <li><a href="/faq">FAQ</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="#">Terms & condition</a></li>
            </ul>
          </div>

        </div>
        <hr />
        <div class="row">
          <p class="footer__lastPara">Copyright © 2021 ICS. All rights reserved
            !</p>
        </div>
      </div>
    </footer>

    <!-- Bootstrap JS LINKS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>

    <!-- IONICON LINKS -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>

    <!-- Custom JS -->
    <script src="./js/script.js"></script>
  </body>

</html>