<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thanks for contacting with us</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <section class="Thanks___Section">
      <h1>Thanks For Contacting With Us We Will Back To You Soon 😃</h1>
    </section>
  </body>
</html>